.h2-impar {
  color: brown;    
}

.h2-par {
  color: blue;    
}

#h2-ultimo {
  color: gray;    
}

.img-cool {
  border: 5px dotted rgb(236, 11, 11);
  border-radius: 10%
}

h3 {
  color: #3c1b66;
  font-weight: normal;
  font-size: 35px;
  font-family: georgia;
  text-transform: uppercase;
}